.why-us {
  padding: 100px 0;
  background: url("../imagesSvg/Rectangle.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    width: 100%;
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 0 20px;
  }

  .content {
    text-align: left;
    color: var(--text-light);

    .whyus-header {
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 50px;
    }

    .whyus-text {
      font-size: 14px;
      line-height: 1.8;
      margin-bottom: 45px;
      opacity: 0.9;
      font-weight: 400;
    }

    .btn-primary {
      margin-top: 30px;
    }
  }

  .why-images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
 
    img {
      width: 350px;
      max-width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 6px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .why-us {
    .container {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      padding: 0 30px;
    }

    .content {
      .whyus-header {
        font-size: 32px;
      }

      .whyus-text {
        font-size: 16px;
      }
    }

    .why-images {
      grid-template-columns: 1fr;
      gap: 30px;

      img {
        height: 250px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .why-us {
    padding: 120px 0;

    .container {
      grid-template-columns: 1fr 1fr;
      gap: 60px;
      padding: 0 50px;
      max-width: 1200px;
      margin: 0 auto;
    }

    .content {
      padding-right: 50px;
      padding-top: 105px; 

      .whyus-header {
        font-size: 36px;
        margin-bottom: 40px;
      }

      .whyus-text {
        font-size: 16px;
        margin-bottom: 25px;
      }

      .btn-primary {
        margin-top: 40px;
      }
    }

    .why-images {
      grid-template-columns: 1fr;
      gap: 40px;
      
      img {
   
        &:first-child {
          margin-top: 30px;
        }

        &:last-child {
          margin-top: -30px;
          margin-left: 90px;
        }
      }
    }
  }
}